.sidebar {
  background: $silver;
  min-height: 90vh;
  padding: 2rem 1rem;
  position: absolute;
  transition: transform 0.2s linear;
  width: 50%;
  z-index: 1;
}
.sidebar--hidden {
  transform: translateX(-100%);
}

.sidebar__title {
  font-weight: normal;
  margin: 1rem 0;
}
.sidebar__field {
  border: 0.8px solid grey;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;

  padding: 0.5rem;
}
.sidebar__chip {
  background: #fff;
  border-radius: 0.5rem;
  font-size: small;
  margin: 0.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.sidebar__filter-icon {
  cursor: pointer;
}

.sidebar__name {
  padding-left: 0.8rem;
}

@media (min-width: 768px) {
  .sidebar {
    position: static;
    width: 20%;
  }
  .sidebar--hidden {
    transform: translateX(0%);
  }
}
